@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-track {
  background-color: transparent; /*color de la barra de fondo*/
}
*::-webkit-scrollbar-thumb {
  /* background-color: #09C; color del manejador */
  background-color: rgb(53, 143, 173); /*color del manejador*/
}
*::-webkit-scrollbar {
  width: 4px; /*ancho del scroll vertical*/
  height: 4px; /*alto del scroll horizontal*/
}